@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;

	padding: 2% 10%;

	background-color: #D8D8D8;
}

body {
	margin: 0;
	padding: 0;

	border-radius: 15px;

	background-color: white;
}

h1 {
	margin: 0;
	padding: 4%;

	font-size: 1.25rem;
	color: #990033;

	border-bottom: 1px solid #c0c0c0;
}

article {
	font-family: sans-serif;
}

figure {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

figcaption {
	font-size: 0.75rem;

	padding: 4%;
	margin: 0;

	background-color: #f0f0f0;

	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
}

p {
	padding: 4%;
}

blockquote {
	font-family: Georgia, Times, serif; 

	padding: 4% 4% 0 0;
	margin: 0;

	background-color: #f0f0f0;

	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;

	overflow: hidden;
}

blockquote footer {
	padding: 0 0 4% 0;

	text-align: right;
	color: black;
}

h2 {
	padding: 4% 0 0 4%;

	font-size: 1rem;
	font-style: bold;
	color: #990033;
}

ol {

}

.nutri-info {
	background-color: #f0f0f0;

	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
}

dl {
	padding: 0 4%;
	/*
	This is a clearfix
	It reminds the <dl> to wrap around all it's floated children
	*/
	overflow: hidden;
}

dt {

	float: left;
	clear: left;
	width: 8rem;
}

dd {
	float: left;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0 4%;

	list-style: none;

	text-align: left;

	color: #990033;
}

footer {
	padding: 0 4% 5px 4%;

	font-size: 0.75rem;
	color: gray;
}

a {
	color: #990033;
}

